/******** Menu *********/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #b0a8b9;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #8e7069;
}

/******** Mobile Menu *********/

@media (max-width: 800px) {
  .menu {
    display: none;
  }
}
/******** Link *********/
.link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4b4453;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.link:hover {
  background-color: #8e7069;
}

/******** Mobil *********/
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.billede1 {
  grid-column: 1 / span 2;
}
.billede4 {
  grid-column: 1 / span 2;
}
.billede5 {
  grid-column: 1 / span 2;
}
.billede6 {
  grid-column: 1 / span 2;
}

/******** Desktop *********/
@media (min-width: 1000px) {
  /******** Min comp *********/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /******** Forside *********/

  section.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
  section.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  section.grid_1-1 .order {
    order: -1;
  }

  dl.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /******** Operativsystemer *********/
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 10px;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
  }

  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
  }
  .grid_3-2 .order {
    order: 1;
  }

  /******** Komponenter *********/

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .flex_col {
    display: flex;
    flex-direction: column;
  }
  .flex_col > :last-child {
    margin-top: auto;
  }

  /************** Galleri *********/

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .grid_1-1-1-1 img {
    align-self: stretch;
    object-fit: cover;
  }

  .billede1 {
    grid-column: 1 / span 2;
    grid-row: span 2;
  }

  .billede4 {
    grid-column: 3 / span 2;
  }
  .billede5 {
    grid-column: 1 / span 1;
  }

  .billede6 {
    grid-column: 2 / span 3;
  }

  p.bredden {
    max-width: 65ch;
  }
}
